html,
body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  /* overflow: hidden !important; */
  overflow-y: auto;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: all 0.2s;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;

  /* margin: 0 !important; */
  /* height: 100vh; */
  overflow-y: auto;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: 3fr 2fr 10fr 10fr 3fr;
  /* grid-auto-rows: max-content; */
  /* grid-template-rows: auto; */
  grid-template-areas:
    "header header header header header header"
    "nav nav nav nav nav nav"
    "main main main main aside_top aside_top"
    "main main main main aside_bottom aside_bottom"
    "footer footer footer footer footer footer";
}

.container * {
  color: #fcd34d;
}

.controls-container button {
  transition: 0.2s;
}

.controls-container button:hover {
  opacity: 0.75;
}

.container * {
  margin: 0;
  /* border: 2px solid red; */
}

@media (min-width: 650px) {
  .container {
    height: 100vh;
    gap: 2em;
    padding: 10px;
  }
}

@media (max-width: 650px) {
  .container {
    gap: 2em;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "nav nav nav nav nav nav"
      "main main main main main main"
      "aside_top aside_top aside_top aside_bottom aside_bottom aside_bottom"
      "footer footer footer footer footer footer";
  }
}

/* @media (max-width: 900px) and (orientation: landscape) {
  .container {
    grid-auto-rows: 8fr 8fr 20fr 10fr auto;
  }
} */

@media (max-width: 650px) {
  .container {
    /* max-height: 100vh;
    height: 100vh; */
    grid-template-areas:
      "header header header header header header"
      "nav nav nav nav nav nav"
      "main main main main main main"
      "aside_top aside_top aside_top aside_top aside_top aside_top"
      "aside_bottom aside_bottom aside_bottom aside_bottom aside_bottom aside_bottom"
      "footer footer footer footer footer footer";
    /* grid-auto-rows: 10fr 10fr 140fr 150fr 50fr auto; */
    grid-auto-rows: 5rem 5rem 120vw 22rem 22rem 5rem;
    /* grid-template-rows: 10fr 10fr 140fr 150fr 50fr auto; */
    /* grid-auto-rows: auto; */
  }
}

/* @media (min-width: 650px) and (orientation: landscape) {
  .container {
    grid-auto-rows: 8rem 5rem 20rem 20rem 5rem;
  }
} */

@media (orientation: landscape) and (max-height: 650px) {
  .container {
    /* background-color: blue; */
    grid-auto-rows: 8rem 5rem 30rem 30rem 5rem;
    /* background-color: blue; */
    height: fit-content;
  }
}

header {
  grid-area: header;
  /* max-height: 3fr; */
  /* background-color: blue; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: relative;
}

header h1 {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  font-weight: bolder;
  color: #fcd34d;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 1px 1px yellow;
  /* border: 2px solid red; */
}

#U {
  animation: light 0.5s infinite linear reverse;
}

#E {
  animation: light 0.75s infinite linear reverse;
}

#u {
  animation: light 0.25s infinite linear reverse;
}

#T {
  animation: bulb 2s infinite linear;
}

#l {
  animation: light 0.2s infinite linear;
}

@keyframes bulb {
  0% {
    color: white;
  }

  50% {
    color: yellow;
  }

  100% {
    color: white;
  }
}

@keyframes light {
  from {
    color: white;
  }

  to {
    color: yellow;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 1.75rem;
  }
}

nav {
  grid-area: nav;
  /* max-height: 3fr; */
  /* background-color: aqua; */
  max-width: inherit;
  overflow: hidden;
}

#news-container {
  display: flex;
  gap: 50px;
  align-items: center;
  animation: news 40s infinite linear;
  animation-delay: 2s;
  height: 100%;
}

#news-container h2 {
  flex: 1 0 auto;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* text-shadow: 2px 2px yellow; */
}

@keyframes news {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-300vw);
  }
}

main {
  grid-area: main;
  /* max-height: 10fr; */
  /* background-color: black; */
}

.aside_top {
  grid-area: aside_top;
  /* max-height: 5fr; */
  /* background-color: coral; */
}

.aside_bottom {
  grid-area: aside_bottom;
  /* max-height: 5fr; */
}

/* .aside_bottom {
  padding: 15px;
  text-align: center;
  position: relative;
  font-weight: bold;
  text-shadow: 2px 2px black;
} */

footer {
  grid-area: footer;
  /* max-height: 3fr; */
  /* background-color: darkorange; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  text-shadow: 2px 2px red;
}

/* .carousel-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-btn {
  z-index: 101;
  position: inherit;
} */

.carousel-btn {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  /* font-size: 125%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: white;
  transition: 0.2s;
}

.carousel-btn:not(:disabled):hover {
  opacity: 0.75;
}

.carousel-btn:not(:disabled) {
  border: 4px solid #fcd34d;
  color: #fcd34d;
  background-color: black;
  font-weight: bold !important;
  cursor: pointer;
}

.carousel-btn:disabled {
  opacity: 0.25;
  border: 4px solid #fcd34d;
  color: #fcd34d;
  background-color: black;
}

#first-top,
#first-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: fit-content; */
  min-height: fit-content;
  height: 100%;
}

#first-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://multiplayer.net-cdn.it/thumbs/images/2021/02/13/god-of-war_jpg_1600x900_crop_q85.jpg");
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#second-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: fit-content;
  height: 100%;
  transform: translateY(-110%) !important;
}

#second-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: max(fit-content, 100%); */
  min-height: fit-content;
  height: 100%;
  transform: translateX(110%) !important;
}

#games-container-top,
#games-container-bottom {
  position: relative;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  /* animation-delay: 10s; */
  /* padding: 15px; */
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#games-container-top {
  animation: carouselY 20s infinite reverse;
}

#games-container-bottom {
  animation: carouselX 20s infinite reverse;
}

#games-container-top p,
#games-container-top h3,
#games-container-bottom p,
#games-container-bottom h3 {
  padding: 15px;
  box-sizing: border-box;
}

@keyframes carouselY {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes carouselX {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-110%);
  }

  100% {
    transform: translateX(0%);
  }
}

#second-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn2.unrealengine.com/Diesel%2Fproductv2%2Fbatman-arkham-knight%2FEGS_WB_Batman_Arkham_Knight_G1_1920x1080_19_0911-1920x1080-1d69e15f00cb5ab57249f208f1f8f45d52cbbc59.jpg");
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#first-bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.vox-cdn.com/thumbor/pO5GQdquJZKokV9rT7bE432ZJt0=/0x0:2560x1440/1200x675/filters:focal(1076x516:1484x924)/cdn.vox-cdn.com/uploads/chorus_image/image/56527055/Screenshot_04.0.jpg");
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#second-bottom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.gamerclick.it/prove/img_tmp/202311/The_Day_Before_720.jpg");
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.creativefabrica.com/wp-content/uploads/2023/04/07/Torn-Paper-Vintage-Distressed-Junk-Journal-Background-66479112-1.png");
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
} */

.bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://d3kjluh73b9h9o.cloudfront.net/original/3X/e/b/eb79c44f151f24cc3b6cec8864a695bc19b70bbf.jpeg");

  /* filter: blur(8px);
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  -o-filter: blur(8px); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-el {
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.carousel-el:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;

  filter: blur(5px);
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);

  /* transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear; */
}

#more-link {
  color: #fcd34d;
  text-shadow: 2px 2px red;
  animation: bounce 2s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0%);
  }
}
